<nz-dropdown-menu #tooltipView="nzDropdownMenu">
  <div [id]="DOCDB_TOOLTIP_POPUP" (mouseleave)="hidePopup()" *ngIf="params$ | async">
    <nz-card [nzTitle]="headerDetails()">
      <div *ngIf="hasBodyDetails()">
        <nz-table
          #detailsTable
          [nzData]="bodyDetails()"
          nzFrontPagination="false"
          nzSize="small"
        >
          <tbody>
          <tr *ngFor="let data of detailsTable.data">
            <td>
              {{data.title}}
            </td>
            <td>
              {{data.value}}
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </div>
</nz-dropdown-menu>
