<div>

    <nz-dropdown-menu #tooltipView="nzDropdownMenu"
                      nzOverlayClassName="peek-docdb-popup-tooltip">
        <div id="peek-plugin-docdb-popup-summary-mouse-events"
             style="pointer-events:none">

            <div *ngIf="params !=null" class="panel panel-default">
                <div class="panel-header">
                    <h4 class="panel-title">{{params.objectKey}}</h4>
                </div>
                <div class="panel-body" *ngIf="params.details.length != 0">
                    <nz-table #detailsTable [nzData]="params.details"
                              nzFrontPagination="false"
                              nzSize="small">
                        <tbody>
                        <tr *ngFor="let data of detailsTable.data">
                            <td>
                                {{data.title}}
                            </td>
                            <td>
                                {{data.value}}
                            </td>
                        </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>

    </nz-dropdown-menu>

</div>
